* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TITLE AND INTRO */
main{
    width: 80%;
    min-width: 200px;
    margin: 50px auto;
    font-family: "roboto", serif;
}

.text-intro{
    text-align: center;
}

#title-page{
    color: #e53170;
    text-align: center;
    margin: 20px 0;
    font-family: "Concert One", sans-serif;
}

/*END*/

/*BOX WORKER*/

.box-worker{
    display: flex;
}

.info-contact{
    margin-top: 50px;
    color: white;
    display: flex;
}

.position-info{
    display: flex;
    background-color:#0f0e17;
    box-shadow: 2px 2px 10px 2px #888888;
    height: 120px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.space-info{
    padding: 0px 40px 0px 20px;
}


img{
    height: 120px;
    width: 120px;
}

a{
    text-decoration:none;
    color:#39a2cf ;
}

h3{
    font-family: "Concert One", sans-serif;
}