* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TITLE AND INTRO */
main{
    width: 90%;
    margin: 10px auto;
    font-family: "roboto", serif;
}

.text-intro{
    text-align: center;
    margin: 50px 0 50px 0;
}

#title-page{
    color: #e53170;
    text-align: center;
    margin-top: 20px;
    font-family: "Concert One", sans-serif;
}

/*END*/

/*BOX WORKER*/

.box-worker{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.position-info{
    height: 120px;
    width: 480px;
    display: flex;
    color: white;
    background-color:#0f0e17;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    box-shadow: 2px 2px 10px 2px #888888;
    margin: 10px 0 10px 0;
}

.space-info{
    padding: 0 20px 0 10px;
}


img{
    height: 120px;
    width: 120px;
}

a{
    text-decoration:none;
    color:#39a2cf ;
}

h3{
    font-family: "Concert One", sans-serif;
}

/* END */